{% extends 'base.html' %}

{% block content %}
<section class="section">
   <div class="container">
      <form method="POST" action="/shorten">
         <div class="field">
            <div style="position:fixed;top:30%;left:10%;width:80%" class="control">
               <input style="margin-bottom:10px" class="input" type="text" name="original_url" placeholder="Enter a URL to shorten" required>
               <button style="width:100%" type="submit" class="button is-link">Shorten</button>
            </div>
         </div>
      </form>
   </div>
</section>
{% endblock %}
